* {
    /* border: solid 1px orange; */
    padding: 0px;
    margin: 0px;
}

html {
    height: 100%;
}

img {
    height: auto;
    width: 125%;
    margin: 10px 0px;
    border: solid 1px orange;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    color: orange;
    background-color: black;
}

header {
    display: flex;
    justify-content: center;
    white-space: nowrap;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 10px 10px;
}

main {
    flex: 1;
}

.index-main {
    text-align: justify;
    margin: 10px 10px;
}

figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    white-space: nowrap;
}

footer {
    display: flex;
    justify-content: space-between;
    margin: 0px 10px;
}


/* Link style */

i,
a {
    color: orange;
    text-decoration: none;
}

i:hover,
a:hover {
    color: red;
}