/* remove default padding and margin and borders for debugging */

* {
    /* border: solid 1px orange; */
    padding: 0px;
    margin: 0px;
}


/* everything in this block should be the same across every page */


/* ************************************************************** */

html {
    height: 100%;
}


/* make images responsive */

img {
    height: auto;
    width: 130%;
    margin: 10px 0px;
    border: solid 1px orange;
}


/* I used Skeleton to put things into columns where I needed 
to then moved everything into position with flex */

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    color: orange;
    background-color: black;
}

header {
    display: flex;
    justify-content: center;
    white-space: nowrap;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 10px 10px;
    border-bottom: solid 1px orange;
}

footer {
    display: flex;
    justify-content: space-between;
    margin: 0px 10px;
}


/* Link style */

i,
a {
    color: orange;
    text-decoration: none;
}

i:hover,
a:hover {
    color: red;
}


/* This bit is required to keep footer at bottom */

main {
    flex: 1;
}


/* ******************************************************** */


/* formatting specific to about page */

.index-main {
    display: flex;
    justify-content: center;
    text-align: justify;
    margin: 10px 10px;
}


/* formatting specific to contact page */

.contact-main .row {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.contact-main input,
textarea {
    color: orange;
    background-color: black;
    border: solid 1px orange;
}

.contact-main input:focus,
textarea:focus {
    color: red;
    border: solid 1px red;
}

.contact-main input:hover {
    color: red;
    border: solid 1px red;
}


/* formatting for figures on portfolio page */

.portfolio-main figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    white-space: nowrap;
}